

p {
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
    /* margin-top: 10px; */
    color: white;
    text-align: left;
}

.current-date {
    margin-top: 3px;
}

h1 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kansasnew, serif;
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
    color: aliceblue;
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

span {
    font-family: neue-haas-grotesk-display, sans-serif ;
    font-size: 25px ;
    font-weight: 100;
    text-align: center;
    margin-left: 15px;
}

.main-contain {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 600px;
    height: 80vh;
}

.card {
    height: 80vh;
}

.h2-contain {
    display: flex;
    justify-content:flex-start;
    flex: 0;
    height: 75px;
    margin-bottom: 10px;
    margin-top: 25px;
}

h2,
h3 {
    font-family: kansasnew, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    margin: 0;
    /* height: 45px; */
}

h3 {
    text-align: center;
}

h4 {
    color: white;
}



.city-name {
    font-family: neue-haas-grotesk-display, sans-serif ;
    font-size: 40px ;
    font-weight: 800 ;
    margin: 0;
    color: white;
    height: 45px;
    width: auto;
}


.forecast {
    font-size: 25px;
    /* margin-top: 15px; */
    height: 160px;
}

.container {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    /* height: 100vh; */
}

#dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 80vh; */
}

.display-top,
.display-bottom {
    margin: 0;
    /* border: 5px solid rgb(43, 45, 48); */
    border-radius: 5px;
}

.display-top {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    /* align-items: space-between; */
    background-color: rgb(97, 83, 117);
    padding-left: 20px;
    height: 300px;

}

.display-bottom {
    padding-top: 10px;
}

.five-day {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    /* border: #e73c7e solid 2px; */
    height: 32vh;
    margin: 0;
}

.day-box {
    /* border: #23d5ab solid 2px; */
    background-color: #f0ac98;
    border-radius: 5px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    width: 50px;
    margin: 0;
    /* padding-bottom: 10px; */
}